<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.system.mapper.BabyMapper">
    
    <resultMap type="Baby" id="BabyResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="birth"    column="birth"    />
        <result property="address"    column="address"    />
        <result property="weekNum"    column="week_num"    />
        <result property="status"    column="status"    />
        <result property="weight"    column="weight"    />
        <result property="height"    column="height"    />
        <result property="nameMother"    column="name_mother"    />
        <result property="ageMother"    column="age_mother"    />
        <result property="countryMother"    column="country_mother"    />
        <result property="idMother"    column="id_mother"    />
        <result property="nameFather"    column="name_father"    />
        <result property="ageFather"    column="age_father"    />
        <result property="countryFather"    column="country_father"    />
        <result property="idFather"    column="id_father"    />
        <result property="location"    column="location"    />
        <result property="doctor"    column="doctor"    />
        <result property="hospital"    column="hospital"    />
        <result property="today"    column="today"    />
    </resultMap>

    <sql id="selectBabyVo">
        select id, name, sex, birth, address, week_num, status, weight, height, name_mother, age_mother, country_mother, id_mother, name_father, age_father, country_father, id_father, location, doctor, hospital, today from baby
    </sql>

    <select id="selectBabyList" parameterType="Baby" resultMap="BabyResult">
        <include refid="selectBabyVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="birth != null  and birth != ''"> and birth = #{birth}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="weekNum != null  and weekNum != ''"> and week_num = #{weekNum}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="weight != null  and weight != ''"> and weight = #{weight}</if>
            <if test="height != null  and height != ''"> and height = #{height}</if>
            <if test="nameMother != null  and nameMother != ''"> and name_mother = #{nameMother}</if>
            <if test="ageMother != null  and ageMother != ''"> and age_mother = #{ageMother}</if>
            <if test="countryMother != null  and countryMother != ''"> and country_mother = #{countryMother}</if>
            <if test="idMother != null  and idMother != ''"> and id_mother = #{idMother}</if>
            <if test="nameFather != null  and nameFather != ''"> and name_father = #{nameFather}</if>
            <if test="ageFather != null  and ageFather != ''"> and age_father = #{ageFather}</if>
            <if test="countryFather != null  and countryFather != ''"> and country_father = #{countryFather}</if>
            <if test="idFather != null  and idFather != ''"> and id_father = #{idFather}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="doctor != null  and doctor != ''"> and doctor = #{doctor}</if>
            <if test="hospital != null  and hospital != ''"> and hospital = #{hospital}</if>
            <if test="today != null  and today != ''"> and today = #{today}</if>
        </where>
    </select>
    
    <select id="selectBabyById" parameterType="Integer" resultMap="BabyResult">
        <include refid="selectBabyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBaby" parameterType="Baby">
        insert into baby
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="birth != null">birth,</if>
            <if test="address != null">address,</if>
            <if test="weekNum != null">week_num,</if>
            <if test="status != null">status,</if>
            <if test="weight != null">weight,</if>
            <if test="height != null">height,</if>
            <if test="nameMother != null">name_mother,</if>
            <if test="ageMother != null">age_mother,</if>
            <if test="countryMother != null">country_mother,</if>
            <if test="idMother != null">id_mother,</if>
            <if test="nameFather != null">name_father,</if>
            <if test="ageFather != null">age_father,</if>
            <if test="countryFather != null">country_father,</if>
            <if test="idFather != null">id_father,</if>
            <if test="location != null">location,</if>
            <if test="doctor != null">doctor,</if>
            <if test="hospital != null">hospital,</if>
            <if test="today != null">today,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birth != null">#{birth},</if>
            <if test="address != null">#{address},</if>
            <if test="weekNum != null">#{weekNum},</if>
            <if test="status != null">#{status},</if>
            <if test="weight != null">#{weight},</if>
            <if test="height != null">#{height},</if>
            <if test="nameMother != null">#{nameMother},</if>
            <if test="ageMother != null">#{ageMother},</if>
            <if test="countryMother != null">#{countryMother},</if>
            <if test="idMother != null">#{idMother},</if>
            <if test="nameFather != null">#{nameFather},</if>
            <if test="ageFather != null">#{ageFather},</if>
            <if test="countryFather != null">#{countryFather},</if>
            <if test="idFather != null">#{idFather},</if>
            <if test="location != null">#{location},</if>
            <if test="doctor != null">#{doctor},</if>
            <if test="hospital != null">#{hospital},</if>
            <if test="today != null">#{today},</if>
         </trim>
    </insert>

    <update id="updateBaby" parameterType="Baby">
        update baby
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birth != null">birth = #{birth},</if>
            <if test="address != null">address = #{address},</if>
            <if test="weekNum != null">week_num = #{weekNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="height != null">height = #{height},</if>
            <if test="nameMother != null">name_mother = #{nameMother},</if>
            <if test="ageMother != null">age_mother = #{ageMother},</if>
            <if test="countryMother != null">country_mother = #{countryMother},</if>
            <if test="idMother != null">id_mother = #{idMother},</if>
            <if test="nameFather != null">name_father = #{nameFather},</if>
            <if test="ageFather != null">age_father = #{ageFather},</if>
            <if test="countryFather != null">country_father = #{countryFather},</if>
            <if test="idFather != null">id_father = #{idFather},</if>
            <if test="location != null">location = #{location},</if>
            <if test="doctor != null">doctor = #{doctor},</if>
            <if test="hospital != null">hospital = #{hospital},</if>
            <if test="today != null">today = #{today},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBabyById" parameterType="Integer">
        delete from baby where id = #{id}
    </delete>

    <delete id="deleteBabyByIds" parameterType="String">
        delete from baby where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>